@media screen and (max-width: 930px) {
	.fullPage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.topInfo {
			img {
				max-width: 800px!important;
			}
			display: flex;
			flex-direction: column!important;
			align-items: start;
			.infoList {
				padding: 0;
				padding-left: 1rem;
				.mainInfo {
					display: flex;
					flex-direction: column;
					align-items: start!important;
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}
.fullPage {
	position: relative;
	top: 70px;
	max-width: 1200px;
	margin-inline: auto;
	background-color: #e3f6f5;
	color: #272643;
	margin-bottom: 80px;
	
	.topInfo {
		display: flex;
		//flex-wrap: wrap;
		//align-items: center;

		img {
			width: 100%;
			max-width: 500px;
			width: 100%;
			padding-top: 10px;
		}
		.infoList {
			list-style: none;
			.mainInfo {
				display: flex;
				align-items:end;
				.name {
					font-size: 36px;
					margin: 0;
					margin-right: 1rem;
				}
				.location {
					font-size: 20px;
					color: #272643c2;
					text-decoration: none;
					img {
						height: 20px;
						width: auto;
					}
				}
			}
			.species {
				font-size: 16px;
				color: #2c698d;
				.gender {
					height: 20px;
					width: auto;
				}
			}
			.status {
				display: flex;
				p {
					margin: 0;
				}
				.alive {
					color: green;
				}
				.dead {
					color: red;
				}
				.unknown {
					color: grey;
				}
			}
			.origin {
				color: #272643c2;
			}
		}
	}
	.episodesTitle {
		text-align: center;
	}
	.episodes {
		&::-webkit-scrollbar {
			height: 70px;
		}

		&::-webkit-scrollbar-track {
			background-color: #e3f6f5;
		}

		&::-webkit-scrollbar-thumb {
			background-image: url("https://www.pngitem.com/pimgs/m/81-817458_transparent-rick-and-morty-png-rick-and-morty.png"),
				linear-gradient(100deg, transparent, transparent);
			background-position: center bottom, center -40px;
			background-repeat: no-repeat, no-repeat;
			background-size: contain, contain;
			width: 70px;
		}

		list-style: none;
		overflow-x: scroll;
		max-width: 1200px;
		display: flex;

		.episode {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
	.episodesCount {
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
		padding-bottom: 15px;
	}
}